{% extends "base.html" %}

{% block title %}About - SoulNest{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}


{% block content %}
<main class="about-container">
    <div class="about-content">
        <h1>About SoulNest</h1>

        <p>
            At <strong>SoulNest</strong>, we connect loving homes with pets in need.<br><br>
            We are five friends — <strong>Gayathri</strong>, <strong>Aysha</strong>, 
            <strong>Anusree</strong>, <strong>Rifa</strong>, and <strong>Sreechandana</strong> — 
            who grew up loving animals and wishing there was an easier way to help them find safe, loving homes.
            Over time, we noticed how difficult it was for people to adopt pets, connect with shelters, 
            or find trusted mating pairs. 
            So we decided to bring our shared passion together and create SoulNest,
            a space where compassion meets technology. Every feature on SoulNest is built with the same care and thought we would give our own pets.
            What started as a simple idea among friends has now grown into a mission to make pet adoption and care accessible for everyone.
            We hope you feel the same warmth using SoulNest as we felt while creating it for you.
            <br><br>
            Our mission is to make pet adoption simple, warm, and full of love.
        </p>
    </div>
</main>
{% endblock %}